<div class="col-md-12">
  <h3>Users</h3>

  <ul>
    <%= for user <- @users do %>
      <li>
        <a href="<%= Router.Helpers.user_path(@conn, :show, user.id) %>">
          <%= user.content %> <%= user.id %>
        </a>
      </li>
    <% end %>
  </ul>

  <a href="<%= Router.Helpers.user_path(@conn, :new) %>" class="btn btn-primary">
    New User
  </a>
</div>