<h1>New User</h1>

<form action="/users" method="post">
  <input type="hidden" name="csrf_token" value="<%= csrf_token @conn %>" />
  <div class="form-group">
    <label for="user[content]">Content</label>
    <input type="text" name="user[content]" class="form-control" />
    <%= if @errors != nil do %>
      <ul>
          <li>
              <%= @errors.content %>
          </li>    
      </ul>
    <% end %>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>